<footer class="bg-gray-200 py-5">
  <div class="container mx-auto px-5">
    <h2 class="m-0 text-2xl">Get The Note App</h2>
    <p class="text-gray-500 text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <form [formGroup]="footerForm" (ngSubmit)="shareApp()">
      <div class="flex items-center gap-3 text-nowrap px-6 my-2 sm:w-full">
        <input formControlName="email" type="email" class="w-full rounded-md border border-gray-500 p-3" placeholder="Email" />
        <button type="submit" class="bg-[#09c] px-12 py-2 text-white">Share App Link'
        </button>
      </div>
    </form>




  </div>
</footer>
